<pre>autocomef {{ autocomef.value | json }}</pre>

<form [formGroup]="autocomef" (ngSubmit)="submitReactiveForm()">
  
  <div class="ng-autocomplete ng-autocomplete-custom countries">
    countries
    <ng-autocomplete
      [data]="countries"
      formControlName="country"
      [searchKeyword]="keyword"
      [placeholder]="placeholderCountry"
      (selected)='selectEventCountry($event)'
      (inputChanged)='onChangeSearchCountry($event)'
      (inputFocused)='onFocusedCountry($event)'
      (inputCleared)="searchClearedCountry()"  
      
      (opened)="openedCountry()"
      (closed)="closedCountry()"
      [itemTemplate]="itemTemplateCountry"
      [notFoundTemplate]="notFoundTemplateCountry">
    </ng-autocomplete>
    <ng-template #itemTemplateCountry let-item>
      <a [innerHTML]="item.name"></a>
    </ng-template>
    <ng-template #notFoundTemplateCountry let-notFound>
      <div [innerHTML]="notFound"></div>
    </ng-template>
  </div>
  <br /><br />
  <div class="ng-autocomplete ng-autocomplete-custom countries">
    cities
    <ng-autocomplete
      [data]="citiesSelected"
      formControlName="city"

      [searchKeyword]="keyword"
      [placeholder]="placeholderCity"
      (selected)='selectEventCity($event)'
      (inputChanged)='onChangeSearchCity($event)'
      (inputFocused)='onFocusedCity($event)'
      (inputCleared)="searchClearedCity()"  
      (opened)="openedCity()"
      (closed)="closedCity()"
      [itemTemplate]="itemTemplateCity"
      [notFoundTemplate]="notFoundTemplateCity">
    </ng-autocomplete>
    <ng-template #itemTemplateCity let-item>
      <a [innerHTML]="item.name"></a>
    </ng-template>
    <ng-template #notFoundTemplateCity let-notFound>
      <div [innerHTML]="notFound"></div>
    </ng-template>
  </div>
</form>

<button (click)="onclear()">clear</button>

<router-outlet></router-outlet>
